
.banner{
    max-width: 110rem;
    margin: auto;
    padding: 2rem;
    /* border: 2px solid red; */
}
.banner>*:not(:last-child){
    margin-bottom: 3rem;
}
.banner_title{
    font-size: 6rem;
    font-weight: medium;
    font-family: var(--font-heading);
  
}
.banner_title span{
  color: var(--color-second);
}
.banner_subtitle{
    font-size: 3rem;

}

.error{
    font-size: 2rem;
    color: rgb(171, 47, 47);
}
/* @media screen and (max-width : 56.25rem) {
    .banner_title{

        color:red;
    }
 }
 @media screen and (max-width : 37.5rem) {
    .banner_title{

        color:green;
    }
 }
 @media screen and (max-width : 25rem) {
    .banner_title{

        color:blue;
    }
 } */