.dynamic_shop{
    max-width: 110rem;
    /* border: 1px solid red; */
    margin: auto;
    padding: 2rem;
}
.back_home{
    font-size: 2rem;
    color: var(--color-black);
}
.title{
    font-size: 3rem;
    color: var(--color-main);
}
.detail_page{
    padding: 4rem 0;
}
.info{
    padding: 4rem 0;
    display: flex;
    gap: 4rem;
}
.info>*{
    flex: 1;
}
.img_container{
    /* max-width: 45rem; */
    width: 100%;
    /* width: 50rem; */
    /* border: 2px solid red; */
    /* height: 40rem; */
    /* height: 100%; */
    position: relative;
}
.img{
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.glass_info{
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 5px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
    border-radius: 1rem;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   transition: all .2s linear;
   padding: 2rem;
   /* max-width: 30rem; */
}
.location,.nearby,.star{
    font-size: 2rem;
    padding: 1.5rem 0;
    display: flex;
    gap: 1rem;
}

.location>svg,.nearby>svg,.star>svg{
    margin-right: 2rem;
}

@media screen and (max-width : 56.25rem) {
    .info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .info >*{
        width: 100%;
        flex: none;
        /* align-self: stretch; */
    }
    .img_container{
       /* width: 40rem; */
       height: 30vh;
       object-fit: cover;
    }
 }